<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache, no-store, must-revalidate, max-age=0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, max-age=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="https://cdn.bootcss.com/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/index.css">
    <script src="__STATIC__/index/js/swiper-3.4.2.jquery.min.js"></script>
    <script src="__STATIC__/website/js/swiper-3.4.2.jquery.min.js"></script>
    <title>{$hotel.name}-宴会厅</title>
    <script>
      (function (root) {
        var docEl = document.documentElement,
          timer = null,
          width, last;
        function changeRem () {
          width = docEl.getBoundingClientRect().width;
          if (last === width) { return; }
          last = width;
          root.rem = (width / 375) * 100;

          if (/ZTE U930_TD/.test(navigator.userAgent)) {
            root.rem = root.rem * 1.13;
          }
          docEl.style.fontSize = root.rem + 'px';
        }
        changeRem();
        root.addEventListener('resize', function () {
          clearTimeout(timer);
          timer = setTimeout(changeRem, 300);
        });
        root.addEventListener('orientationchange', function () {
          var getTarget = document.getElementById("landscape");
          clearTimeout(timer);
          timer = setTimeout(changeRem, 300);
          if(window.orientation==90||window.orientation==-90){
            getTarget.style.display = "block";
          }else{
            getTarget.style.display = "none";
          }
        });
      })(window, undefined);
    </script>
</head>
<body>
<div style="width:95%;position:fixed; top:0; left: 0;background: #DFDFDF;color:#4B4B4B;font-size: 14px;height: 40px;padding: 10px 2.5%;">
  <p style="line-height: 20px;float: left;" onclick="location.href='{:url('index/index/index')}'">
    欢迎来到<b>{$hotel.name}</b>！<br>{eq name="user['is_special']" value="1"}管理员{else/}普通员工{/eq}：<b>{$user.username}</b>！
  </p>
  <a href="{:url('index/login/logout')}" style="display: block;float: right;background:#bbb;color: #fff;font-size: 16px;height: 40px;line-height: 40px;width: 80px;text-align: center;text-decoration: none;">退&nbsp;出</a>
</div>
<div class="contain boardlist" id="hall_list" style="margin-top: 60px;">
    {volist name="halls" id="vo"}
    <div class="listSection">
        <img src="__STATIC__/../{$vo.main_img}" alt="宴会厅主图">
        <dl>
            <dd><span>宴会厅：</span><span class="color1">{$vo.name}</span></dd>
            <dd><span>午间场：</span>
                {php}
                    if(in_array(0,$vo['chang'])){
                        echo '<span class="color3">已预定</span><span class="color1 borderPeople ft12">预定人：</span><span class="color1 ft12">'.$vo['book_name']['wu'].'</span>';
                    }else{
                        echo '<a href="'.url('index/index/book',['daytime'=>$daytime,'hall_id'=>$vo['id'],'chang'=>0]).'"><span class="color2">空闲</span></a>';
                    }
                {/php}
            </dd>
            <dd><span>晚间场：</span>
                {php}
                    if(in_array(1,$vo['chang'])){
                        echo '<span class="color3">已预定</span><span class="color1 borderPeople ft12">预定人：</span><span class="color1 ft12">'.$vo['book_name']['ye'].'</span>';
                    }else{
                        echo '<a href="'.url('index/index/book',['daytime'=>$daytime,'hall_id'=>$vo['id'],'chang'=>1]).'"><span class="color2">空闲</span></a>';
                    }
                {/php}
            </dd>
        </dl>
    </div>
    {/volist}
</div>
<input type="hidden" value='1' name='page'>
<p id="hall_load" style="color:#ccc;border: 1px solid #ccc;font-size: 14px;padding: 5px 10px;width: 95px;margin:20px auto;display: none;text-align: center;">正在加载...</p>
</body>
<script>
  $(function(){
     $(window).scroll(function() {
      //$(document).scrollTop() 获取垂直滚动的距离:最小值为0，最大值：文档高度-可视化窗口高度
      //$(document).scrollLeft() 这是获取水平滚动条的距离
          //alert("垂直滚动条位置："+$(document).scrollTop()+"--"+$(window).height());
       if ($(document).scrollTop() <= 0) {
          //alert("滚动条已经到达顶部为0");
        }



        /**
         *$(document).height():文档的高度
         *$(window).height()：可视域的高度：窗口的大小：根据浏览窗口的大小变化
         *判断底部:文档高度<=滚动条垂直高度+可视窗口的高度
         * */
        if ( $(document).scrollTop() >= $(document).height() - $(window).height()) {
            //alert("滚动条已经到达底部为" + $(document).scrollTop());
            if($('#hall_load').html()=='正在加载...' && $('#hall_load').css('display')=='none'){
            $('#hall_load').show();
            var page=$('input[name="page"]').val();
            //alert(page);
            $.ajax({
              type:'GET',
              url:'?daytime={:date("Y-m-d",$daytime)}&page='+page,
              dataType:'JSON',
              success:function(data){
                $('input[name="page"]').val(parseInt(page)+1);
                if(data.code!=200){
                  alert(data.error);
                  return false;
                }
                if(!jQuery.isEmptyObject(data.data)){
                  var html='';
                  $(data.data).each(function(k,v){
                      html+='<div class="listSection"><img src="__STATIC__/../'+v.main_img+'" alt="宴会厅主图"><dl><dd><span>宴会厅：</span><span class="color1">'+v.name+'</span></dd><dd><span>午间场：</span>';
                      if($.inArray(0, v.chang)!=-1){
                        html+='<span class="color3">已预定</span><span class="color1 borderPeople ft12">预定人：</span><span class="color1 ft12">'+v.book_name.wu+'</span>';
                      }else{
                        html+='<a href="{:url('index/index/book',['daytime'=>$daytime,'chang'=>0])}?hall_id='+v.id+'"><span class="color2">空闲</span></a>';
                      }
                      html+='</dd><dd><span>晚间场：</span>';
                      if($.inArray(1, v.chang)!=-1){
                        html+='<span class="color3">已预定</span><span class="color1 borderPeople ft12">预定人：</span><span class="color1 ft12">'+v.book_name.ye+'</span>';
                      }else{
                        html+='<a href="{:url('index/index/book',['daytime'=>$daytime,'chang'=>1])}?hall_id='+v.id+'"><span class="color2">空闲</span></a>';
                      }
                      html+='</dd></dl></div>';
                  });
                  $('#hall_load').hide();
                  $('#hall_list').append(html);
                }else{
                  $('#hall_load').html('已经没有了...');
                }
              }
          });
        }
      }


    });

  });
</script>
</html>